<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Clipboard</title>
</head>
<body>
    <div id="app-div" class="container pt-3">
        <h1 class="display-5 text-white d-flex justify-content-between align-items-center">
            <div>CLIPBOARD</div>
            <div>
                <a class="reset-button" href="#"><i class="fa-solid fa-broom"></i></a>
                <a class="settings-button" href="#"><i class="fa fa-gear"></i></a>
            </div>
        </h1>
        <div id="no-items" class="text-muted">No Items on the Clipboard</div>
        <ul style="border-radius: 0;" class="list-group" id="clipboard-list">
            
        </ul>
        <div style="text-align: right;">
            <small style="font-size: 0.5em;">by Süleyman Özarslan | @sschrs</small>
        </div>
    </div>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/fontawesome.min.js"></script>
    <script src="../assets/js/jquery-3.6.1.min.js"></script>
    <script src="../controllers/clipboardWindow.js"></script>
    <script>if (window.module) module = window.module;</script>
</body>
</html>